<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/my.css" />

<body >
<!--<header>-->
    <!--<div class="header_bt">-->
        <!--<div class="header_f"><a href="javascript:history.back()" class=""></a></div>-->
        <!--<div class="header_c"></div>-->
    <!--</div>-->
    <!--<div style="height: .74rem;clear: both;"></div>-->
<!--</header>-->
<header class="my_head my_top">
    <div class="head_item">
        <if condition="$member_info['head_url']"><img src="{$member_info['head_url']}"/> <else /><img src="__IMG__/tx{$tx_no}.png"/></if><strong>{$member_info.phone}</strong>
    </div>
</header>
<ul class="my_gold flexbox spacebetween">
    <input type="hidden" name="is_cert" id="is_cert" value="{$member_info.is_cert}">
    <li>
        <a href="{:U('Member/my_coin')}">
            <div><strong>{$mem_jb_num|default=0}</strong><img src="__IMG__/rise/tx.png"/></div>
            <p>当前金币</p>
        </a>
    </li>
    <li class="line" style="border: .28px solid #f6f6f6;
    width: 1.5px;
    background-color: #f6f6f6;
    height: .25rem;
    margin-top: .45rem;"></li>
    <li>
        <a href="{:U('Member/cur_coin')}">
            <div><strong>{$mem_ltb_num|default=0.00}</strong><img src="__IMG__/rise/cz.png"/></div>
            <p>莱特币</p>
        </a>
    </li>
</ul>
<ul class="my_list">
    <li>
        <a href="{:U('Vip/index')}" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/vip1.png"/><span>VIP会员</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="{:U('Sys/business_cooperation')}" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/hd.png" style="width: .36rem;height: .36rem;"/><span>商业合作</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="{:U('Help/index')}" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/hz.png"/><span>帮助说明</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>

    <li>
        <a href="{:U('Help/post')}" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/gg.png"/><span>官方公告</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="{:U('Member/mem_info')}" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/sz.png"/><span>个人设置</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
</ul>
<div class="wd_line" style="height: 0.085rem;"></div>
<div class="advance">
    <div>{$my_ad_info.ad_title}</div>
    <a href="{$my_ad_info.ad_url}"><img src="{$my_ad_info.ad_img}"/></a>
</div>

<div class="zhezhao_c"></div>
<div class="smjl" style="display: none">
    <a href="{:U('Member/cert')}"><img src="__IMG__/tx.png" alt=""></a>
</div>
<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="{:U('Bonus/index')}">
            <li class="footer_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3">
                邀请
            </li>
        </a>
        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<script>
    var is_cert = $("#is_cert").val();
    if(is_cert != 1){
        $(".smjl").show();
        $(".zhezhao_c").attr("class","zhezhao_c zhezhao");
    }

</script>
<include file="Public:footer"/>

