<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/my.css" />

<body >
<header class="my_head">
    <img src="__IMG__/rise/AD.png"/><strong>176****1222</strong>
</header>
<ul class="my_gold flexbox spacebetween">

        <li>
            <a href="{:U('Member/my_coin')}">
                <div><strong>5210</strong><img src="__IMG__/rise/tx.png"/></div>
                <p>当前金币</p>
            </a>
        </li>
    <li>
        <a href="{:U('Member/cur_coin')}">
            <div><strong>52</strong><img src="__IMG__/rise/cz.png"/></div>
            <p>金额(币)</p>
        </a>
    </li>
</ul>
<ul class="my_list">
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/vip1.png"/><span>VIP会员</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/hd.png"/><span>福利活动</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/hz.png"/><span>商业合作</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/gg.png"/><span>官方公告</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="__IMG__/rise/sz.png"/><span>个人设置</span></p><img src="__IMG__/rise/right.png"/>
        </a>
    </li>
</ul>
<div class="advance">
    <div>猜成语赚零花钱，登录领红包，现在知道还不晚！</div>
    <img src=""/>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="">
            <li class="footer_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3">
                邀请
            </li>
        </a>

        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<include file="Public:footer"/>

