<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/my.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/project/hongbao.css" />

<body >
<header class="my_head current_gold_head">
    <div class=" flexbox spacebetween"><a href="{:U('Member/index')}"><img src="__IMG__/rise/back.png"/></a><strong>我的金币</strong><a href="{:U('Exchange/exrecord')}">兑换记录</a></div>
    <div class="current_box">
        <div class="flexbox spacebetween">
            <p>
                <span>金币余额</span>
                <strong>{$mem_cur_num|default=0}</strong>
            </p>
            <a href="{:U('Exchange/buyview')}">兑换</a>
        </div>
        <ul class="flexbox">
            <li>
                今日金币
                <p><strong>{$today_sum_num|default=0} </strong>金币</p>
            </li>
            <li>
                累计收益
                <p><strong>{$sum_num|default=0} </strong>金币</p>
            </li>
        </ul>
        <p>{$jb_ltc_rate_num}金币=1莱特币</p>
    </div>
</header>
<section>
    <div class="textcenter"><span></span><text>金币明细</text><span></span></div>
    <volist name="re_data" id="vo">
        <dl class="more_ul more_ul1">
            <dt>{$key}</dt>
            <volist name="vo" id="v">
                <dd class="flexbox spacebetween">
                    <div><time>{$v.add_time|date="H:i:s",###}</time><span>
                        <switch name="v['trade_type']">
                            <case value="1">每日签到</case>
                            <case value="2">转盘抽奖</case>
                            <case value="3">推广下线返利</case>
                            <case value="4">领取红包</case>
                            <case value="5">下线领取分红返利</case>
                            <case value="6">下线抽奖返利</case>
                            <case value="7">vip晋级</case>
                            <case value="8">关闭vip</case>
                            <case value="9">分红奖励</case>
                            <case value="10">提现</case>
                            <case value="11">充值</case>
                            <case value="12">兑换莱特币</case>
                        </switch>
                    </span>
                    </div>
                    <if condition="$v['type'] eq 2">
                        <p class="reduce"><span>-{$v.num}</span>{$v.currency_name}</p>
                    <else />
                        <p><span>+{$v.num}</span>{$v.currency_name}</p>
                    </if>

                </dd>
            </volist>
        </dl>
    </volist>

    <!--<dl class="more_ul">-->
        <!--<dt>今日</dt>-->
        <!--<dd class="flexbox spacebetween">-->
            <!--<div><time>16:16:59</time><span>观看广告</span></div>-->
            <!--<p><span>+150</span>金币</p>-->
        <!--</dd>-->
    <!--</dl>-->
<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="{:U('Bonus/index')}">
            <li class="footer_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3">
                邀请
            </li>
        </a>

        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<include file="Public:footer"/>

