<include file="Public:header"/>
<body>
<div  class="rechage">
	<header>
		<div class="header_bt">
			<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
			<div class="header_c">充值莱特币</div>
			<div class="header_r"><a href="{:U('Order/recharge_record')}" class="">充值记录</a></div>
		</div>
		<div style="height: .74rem;clear: both;"></div>
	</header>
	<div class="rechage_bgk">
		<input type="hidden" id="currency_id" value="{$list.currency_id}">

		<ul class="flexbox">
			<!--<li><img src="__IMG__/rise/qrcode.png" alt=""></li>-->
			<li><img src="{:U('Order/qrcodeimg',array('type'=>'222'))}" alt=""></li>
			<li>截图二维码保存</li>
			<li>充值地址</li>
			<li class="copy2">{$list.chongzhi_url}</li>
			<li class="copy_btn" data-clipboard-target=".copy2">复制</li>
		</ul>
	</div>
	<div class="rechage_b">
		<p>请勿向上述地址充值任何非LTC资产，否则资产将不可找回。您充值至上述地址后，完要整个网络节点的确认，3次网络确认后到账，6次网络确认后可提币。</p>
		<p>最小充值金额: 0.001 LTC,小于最小金额的充值将不会上账且无法退回。</p>
		<p>您的充值地址不会经常改变，可以重复充值:如有更改，我们会尽量通过网站公告或邮件通知您。</p>
	</div>
</div>


<div style="height: .9rem;"></div>
<div class="footer_main">
	<ul>
		<a href="{:U('Redpack/index')}">
			<li class="footer_fl">红包</li>
		</a>
		<a href="{:U('Bonus/index')}">
			<li class="footer_f2">分红</li>
		</a>
		<a href="{:U('Exchange/buyview')}">
			<li class="footer_f3">
				邀请
			</li>
		</a>

		<a href="{:U('Task/index')}">
			<li class="footer_f4">
				任务
			</li>
		</a>
		<a href="{:U('Member/index')}">
			<li class="footer_f5 footer_active_f5">
				我的
			</li>
		</a>
	</ul>
</div>
<script>
    $(".copy_btn").click(function () {
        var clipboard = new Clipboard(".copy_btn");
        clipboard.on('success', function(e) {
            console.log(e);
            layer.msg('复制成功');
        });
    });
    setInterval("myInterval()",1000);//1000为1秒钟
    function myInterval()
    {
        var id=$("#currency_id").val();
        $.post('{:U('Order/chongzhi_function')}',{currency_id:id},function(data){
        if(data.status==1){
            location.reload();
        }
    })
    }
</script>
<include file="Public:footer"/>