<include file="Public:header"/>
<body class="rank_record">
<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="{:U('Member/cur_coin')}" class="header_fh"></a></div>
            <div class="header_c">充值记录</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="wd_line"></div>
    <div class="czjl">
        <if condition="$list">
            <ul class="flexbox column">
                <volist name="list" id="vo">
                    <li class="flexbox column">
                        <p><span class="cur_name">{$vo.currency_en}</span><span class="cur_num">+ {$vo.num}</span></p>
                        <p><span>{$vo.url}</span></p>
                        <p class="times"><span>{$vo.add_time|date="Y-m-d H:i:s",###}</span>
                            <span>
                                <switch name="vo['status']">
                                    <case value="3">充值成功</case>
                                    <case value="2">提币中</case>
                                    <case value="5">充值失败</case>
                                </switch>
                            </span>
                        </p>
                    </li>
                </volist>
                <!--<li>-->
                    <!--<p><span class="cur_name">LTC</span><span class="cur_num">+2.852585</span></p>-->
                    <!--<p><span>LVSDKksdskdjsn98VSDK79dsdsVSDKlkjfs</span></p>-->
                    <!--<p class="times"><span>2018-11-14 22:24:23</span><span>充值确认</span></p>-->
                <!--</li>-->
            </ul>
            <else />
            <div class="no_ex_pub_data">
                <img src="__IMG__/rise/no_data.png" alt="">
                <p class="text">暂时没有数据</p>
            </div>
        </if>

    </div>
</div>


<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="{:U('Bonus/index')}">
            <li class="footer_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3">
                邀请
            </li>
        </a>
        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5   footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<include file="Public:footer"/>
