body{	
	font-size: .26rem;
}

.taskheader{
    color: #fff;
    width: 100%;
    height: 4rem;
    line-height: 1.4;
    box-sizing: border-box;
}
.strategy {
	position: relative;
	color:#949494;
	font-size: .24rem;
	border-bottom: 1px solid #f2f2f2;
}
.strategy em{
	font-size: .4rem;
	font-weight: bold;
	color: #17161c;
}
.strategy div{
	width: 92%;
	margin:  0 auto .25rem;
	height: .6rem;
	line-height: .6rem;
}
.strategy i{
	width: .6rem;
	height: .6rem;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: .15rem;
}

.strategy .ltb{
	background: url("../../images/rise/ltc.png") no-repeat center;
	background-size: 55%;
}
.strategy .jb{
	background: url("../../images/rise/b.png") no-repeat center;
	background-size: 85%;
}

.task_top_box{
	width: 100%;

	color: #272727;
}
.task_top_box .task_top_con{
	width: 88%;
	margin: 0 auto .3rem;
	box-shadow: 1px 1px 1px 2.4px  #f6f7f9;
	box-sizing: border-box;
	border-radius: 10px;
}
.top_box_head{
	line-height: .6rem;
}

.top_box_head strong{
	font-size: .26rem;
}
.top_box_head span{
	color: #407aff;
}
.top_box_head p:last-child{
	color: #949494;
}

.top_box_head text{
	color: #bb7272;
}
.task_top_box ul{
	padding: .5rem 0 .8rem;
	width: 90%;
	margin: 0 auto;
}

.task_top_box li{
    width: .5rem;
    height: .6rem;
    line-height: .6rem;
	text-align: center;
	background-color: #f2f2f4;
	border-radius: .1rem;
	font-size: .24rem;
}


.task_top_box li div{
	font-weight: bold;
}

.task_top_box li p{
	color: #b4b4b4;
}

.task_top_box .active{
	background:#407aff url(../../images/rise/gou.png) no-repeat center center;
	background-size: 75%;
}

.task_top_box .active div{
	color: transparent;
}

.task_top_box .active p{
	color: #040404;
}
.taskbutton button{
	display: inline-block;
	width: 88%;
	height: .7rem;
	line-height: .7rem;
	background-color: #407aff;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: .25rem;
	border: 0;
}
.taskbutton {
	text-align: center;
	padding-bottom: .45rem;
}

.task_m{
	width: 90%;
	margin: .35rem auto;
	height: .4rem;
	line-height: .4rem;
}
.task_m .title{
	font-weight: bold;
	font-size: .32rem;
	color: #17161c;
}
.task_m span{
	font-size: .26rem;
	color: #949494;
}
.task_m i{
	width: .35rem;
	height: .35rem;
	background: url("../../images/rise/right.png") no-repeat center;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
}
.task_item{
	width: 90%;
	margin: 0 auto;
}
.task_item ul{
	flex-wrap:wrap
}
.task_item ul li{
	width: 32.5%;
	height: 1.8rem;
	background-color: #f2f2f2;
	margin-bottom: .1rem;
	color:#706e73;
	font-size: .24rem;
	text-align: center;
	border-radius: 10px;

}
.task_item ul li img{
	height: .8rem;
	width: 1rem;
	margin-top: .28rem;
	margin-bottom: .12rem;
}
.task_item ul li.start_luck{
	background-color: #407aff;
	color: #fff;
	font-size: .24rem;
}
.task_item ul li.start_luck span{
	font-size: .3rem;
	width: 50%;
	display: inline-table;
	margin-top: .3rem;
	margin-bottom: .15rem;
}
.tongzhi{
	text-align: center;
	font-size:.26rem ;
	color:#6e6d72;
	margin: .15rem 0;
}
.tongzhi i{
	width: .4rem;
	height: .4rem;
	background: url("../../images/rise/laba.png") no-repeat center;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
}
.task_b{
	width: 90%;
	margin:  0 auto;
}
.task_b img{
	width: 100%;
	height: 2.5rem;
}
/*我的奖品*/
.wdjp{
	width: 100%;
}
.wdjp ul{
	width: 90%;
	margin: 0 auto;
}
.wdjp ul li{
	padding: .22rem 0;
	color: #737b8e;
	font-size: .24rem;
	border-bottom: 1px solid #f6f7f9;
	line-height: .4rem;
}
.wdjp ul li p:first-child{
	color: #24324c;
	font-size: .26rem;
	font-weight: bold;
}


