<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="{:U('Index/index')}">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">莱特币兑换记录</span>
        </div>
    </div>
    <div class="search-wrap">

    </div>
    <div class="result-wrap">

        <div class="result-title">

            <form action="{:U('Record/exchange#14#1')}" method="get">
                <table class="search-tab">
                    <tr>
                        <td width="50">手机号:</td>
                        <td><input class="common-text" placeholder="手机号" name="phone" type="text" value="{$_GET['phone']}"></td>
                        <td><input class="btn btn-primary btn2"  value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="result-content">
            <table class="result-tab" width="100%">
                <tr>

                    <th>ID</th>
                    <th>用户手机号</th>
                    <th>兑换币种</th>
                    <th>兑换数量</th>
                    <th>消耗币种</th>
                    <th>消耗数量</th>
                    <th>创建时间</th>
                </tr>
                <volist name='list' id='vo'>
                    <tr>
                        <td>{$vo['id']}</td>
                        <td>{$vo['phone']}</td>
                        <td>{$vo['dh_cur_name']}</td>
                        <td>{$vo['dh_num']}</td>
                        <td>{$vo['xh_cur_name']}</td>
                        <td>{$vo['xh_num']}</td>
                        <td>{$vo['add_time']|date="Y-m-d H:i:s",###}</td>
                    </tr>
                </volist>

            </table>
            <div class="list-page"> <ul>{$page}</ul></div>
        </div>

    </div>
</div>
<!--/main-->
</div>
</body>
</html>
<script>
    function cexiao(id){
        layer.confirm('确定删除吗？', {
            btn: ['确定','取消'], //按钮
            title: '撤销删除'
        }, function(){
            $.post("{:U('Record/del')}",{id:id,model:'record'},function(data){
                if(data['status'] == 1){
                    layer.msg(data['info'],{icon:1});
                    setTimeout(function(){location.reload();},1000);
                }else{
                    layer.msg(data['info']);
                }
            })
        }, function(){
            layer.msg('已取消');
        });
    }
    function audit(id,status){
        layer.confirm('确定操作吗？', {
            btn: ['确定','取消'], //按钮
            title: '撤销删除'
        }, function(){
            $.post("{:U('Record/audit')}",{id:id,type:1,status:status},function(data){
                if(data['status'] == 1){
                    layer.msg(data['info'],{icon:1});
                    setTimeout(function(){location.reload();},1000);
                }else{
                    layer.msg(data['info']);
                }
            })
        }, function(){
            layer.msg('已取消');
        });
    }

</script>
