<include file="Public:header"/>
<body>
<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">商业合作</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="syhz">
        <div class="syhz_item">
            <div class="title">每日福利</div>
            <div class="con_m">
                针对企业合作伙伴开放,进行品牌宣传与产品推介,按天展示在首页「每日福利」模块。如有意向,请点击下方联系我们。
            </div>
            <div class="con_d">
                <p>核心展位 : <span>首页顶部展位</span></p>
                <p>流量支持 : <span>全平台多入口流量支持</span></p>
                <p>品牌曝光 : <span>长图文个性展示</span></p>
                <p>应用推广 : <span>小程序跳转、优惠券奖品引流</span></p>
                <p>加粉导流 : <span>公众号文章跳转、加粉组件增粉</span></p>
                <p>曝光引流 : <span>H5链接跳转引导</span></p>
                <p>个性服务 : <span>专人一对一服务</span></p>
                <p>灵活展示 : <span>按指定时间展示</span></p>
            </div>
            <div class="con_b lianxi">
                <p><span>联系我们</span><i></i></p>
            </div>
        </div>
        <div class="syhz_item autowelfare">
            <div class="title">自助福利</div>
            <div class="con_m">
                个人和企业均可投放。完成流程后提交,可推广抽奖展示在首页「自助福利」模块,获得曝光和关注,以固定展示天数开奖。
            </div>
            <div class="con_d">
                <p>核心展位 : <span>首页「自助福利」展位持续曝光</span></p>
                <p>流量支持 : <span>全平台多入口推荐引流</span></p>
                <p>品牌曝光 : <span>长图文个性展示</span></p>
                <p>加粉导流 : <span>支持设置微信/公众号快捷关注</span></p>
                <p>全面展示 : <span>支持长图文展示、一键复制组件</span></p>
                <p>灵活掌握 : <span>自主设置展示期,进行中抽奖也可以上首页推广</span></p>
                <p>数据反馈 : <span>在线推广效果数据全掌握</span></p>
                <p>质量保障 : <span>专人审核保障质量</span></p>
                <p>限时福利 : <span>赠送开奖后2小时展示时长首页推广</span></p>
            </div>
            <div class="con_b tuiguan">
                <p><span>首页推广</span><i></i></p>
            </div>
        </div>
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="">
            <li class="footer_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3">
                邀请
            </li>
        </a>

        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<include file="Public:footer"/>
