    <include file="App/Admin/View/Public/left.html"/>
     <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/plugins/prettify.js"></script>
    <!--/sidebar-->
    <style>
        .glyphicon-minus:before {
            content: "\2212";
        }
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
        }
    </style>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">红包设置</span></div>
        </div>
        <div class="result-wrap">
            <form action="{:U('Hongbao/config#4#0')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <input type="hidden" value="{$info.id}" name="id">
                <div class="config-items">
                    <div class="config-title">
                        <h1><i class="icon-font">&#xe00a;</i>红包配置</h1>
                    </div>
                    <div class="result-content">
                        <table width="100%" class="insert-tab">
                            <tbody>
                                <tr>
                                    <th width="15%">vip1观看次数</th>
                                    <td><input type="text" name="watch_num1" class="common-text" value="{$info.watch_num1|default=1}"><i class="require-red">（默认：1）</i></td>
                                </tr>

                                <tr>
                                    <th>抽奖规则id</th>
                                    <td>
                                        <select name="luckdraw_conf_id" class="common-text" id="luckdraw_conf_id">
                                            <volist name="luckdraw_conf_list" id="vo">
                                                <option value="{$vo['id']}" <if condition="$info['luckdraw_conf_id'] eq $vo['id']"></if>>{$vo['title']} </option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>领取一次红包增加抽奖数</th>
                                    <td>
                                        <input type="text" value="{$info.get_luckdraw_num|default=1}" name="get_luckdraw_num" class="common-text"><i class="require-red">（默认：1）</i>
                                    </td>
                                </tr>

                                <tr>
                                    <th>抽奖消耗抽奖数</th>
                                    <td><input type="text" name="use_luckdraw_num" class="common-text" value="{$info.use_luckdraw_num|default=10}"><i class="require-red">（默认：10）</i></td>
                                </tr>
                                <tr>
                                    <th>满足抽奖数量</th>
                                    <td><input type="text" name="achieve_num" class="common-text" value="{$info.achieve_num|default=10}"><i class="require-red">（默认：10）</i></td>
                                </tr>
                                <tr>
                                    <th>抽奖一次增加贡献值</th>
                                    <td>
                                        <input type="text" value="{$info.add_contribution_num|default=1}" name="add_contribution_num" class="common-text"><i class="require-red">（默认：1）</i>
                                    </td>
                                </tr>
                                <tr>
                                    <th>底部横幅广告</th>
                                    <td><input type="file" name="bottom_img" class="common-text" value="{$info.bottom_img}">
                                        <input type="hidden" name="oldbottom_img" class="common-text" value="{$info.bottom_img}">
                                        <if condition="$info['bottom_img']">
                                            <img src="{$info.bottom_img}" style="width: 80px;height: 80px" alt="">
                                        </if>
                                    </td>
                                </tr>
                                <tr>
                                    <th>底部图片链接</th>
                                    <td><input type="text" name="bottom_img_url" class="common-text btn50" value="{$info.bottom_img_url}"></td>
                                </tr>
                                <!--<tr class="nums_item">-->
                                    <!--<th></th>-->
                                    <!--<td>-->
                                        <!--<volist name="info['num_json']" id="v">-->
                                            <!--<span class="num_item"><input id="num_val" name="num_val[]" type="text" value="{$v}"  class="common-text btn4 ml10">-->
                                                <!--<button class="col-md-2 btn btn-sm btn-danger btnDel" type="button" style="border-radius:50% !important;width:30px;height:30px;padding:0;">-->
                                                <!--<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>-->
                                                <!--</button>-->
                                            <!--</span>-->
                                        <!--</volist>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <th></th>
                                    <td>
                                        <input type="submit" value="提交" class="btn btn-primary btn6 mr10">
                                        <a href="{:U('Exchange/config')}"><input type="button" value="返回"  class="btn btn6"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>

<script>									
	KindEditor.ready(function(K) {
		window.editor1 = K.create('#content3');	
	});
    $(".result-content").on('click','#addnums',function () {
        var _self = $(this);
        $('.nums_item td').append('<span class="num_item"><input id="num_val" name="num_val[]" type="text"  class="common-text btn4 ml10">'
            +'<button class="col-md-2 btn btn-sm btn-danger btnDel" type="button" style="border-radius:50% !important;width:30px;height:30px;padding:0;">'
            +'<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>'
            +'</button></span>'
        );
    });

    $(document).on('click',".btnDel",function() {
        $(this).closest('.num_item').remove();
    });

</script>