<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/hongbao.css" />
<body>
		<header class="header">
			<img src="__IMG__/rise/q.png"/><a href="{:U('Redpack/make_money')}"><span>如何赚钱</span></a>
		</header>
		<div class="padbody">
			<div class="clock flexbox">
				<div class="imgclock ">
					<img src="__IMG__/rise/b.png"/>
					<img src="__IMG__/rise/b.png"/>
				</div>
				<div class="midclock">
					<div class="wrap"  id="clock"></div>
					<input type="hidden" name="rate_num" value="{$rate_num}">
					<input type="hidden" name="left_hongbao_num" value="{$left_hongbao_num}">
					<div class="inner">
						<div class="top_num">
							<p>{$num2}</p>
							<img src="__IMG__/rise/bg.png"/>
						</div>
						<div class="sec_num flexbox spacebetween">
							<p>{$num1}</p>
							<p>{$num3}</p>
						</div>
						<div class="mid_num">
							<!--<strong><b>{$left_hongbao_num|default=0}</b><i>剩</i></strong>-->
							<strong><b>{$td_sum_receive_num|default=0}</b></strong>
							<!--<p>VIP{$mem_info.vip_level}可领{$vip_receive_num}个红包</p>-->
							<p>今日全网领取数量</p>
						</div>
						<div class="bottom_num flexbox spacebetween">
							<p>0</p>
							<p>{$num4}</p>
						</div>
					</div>
					<a data-url="{:U('Redpack/watch_ad')}" data-left_re="{$left_re}"  onclick="is_receive($(this))"><button>领取红包</button></a>
				</div>
				<div class="imgclock rightclock">
					<img src="__IMG__/rise/b.png"/>
					<img src="__IMG__/rise/b.png"/>
				</div>
			</div>
			<div class="history">
				<div class="flexbox spacebetween">
					<strong class="flexbox spacebetween"><img src="__IMG__/rise/data.png"/><b>领取记录</b></strong>
					<a class="flexbox spacebetween" href="{:U('Redpack/receive_redpack_record')}">查看更多 <img src="__IMG__/rise/right.png"/></a>
				</div>
				<div class="historyul flexbox spacebetween">
					<div>
						<strong><b>VIP{$mem_info.vip_level|default=0}</b></strong>
						<p>VIP等级</p>
					</div>

					<div>
						<strong><b>{$receive_hongbao_num|default=0}</b>次</strong>
						<p>每日领取次数</p>
					</div>
					<div>
						<strong><b>{$sum_num|default=0}</b>币</strong>
						<p>累积奖励</p>
					</div>
				</div>

			</div>
			<div class="hot">
				<div class="flexbox"><img src="__IMG__/rise/hot.png"/><b>热门活动</b></div>
				<a href="">
					<img src="__IMG__/rise/1.png"/>
				</a>
			</div>
		</div>
		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl footer_active_f1">红包</li>
				</a>
				<a href="{:U('Bonus/index')}">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3">
						邀请
					</li>
				</a>

				<a href="{:U('Task/index')}">
					<li class="footer_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<script type="text/javascript">

			function is_receive(obj) {
				var url = obj.data('url');
				var left_re = obj.data('left_re');
				console.log(left_re);

//				var left_hongbao_num = $("input[name='left_hongbao_num']").val();
//				if(left_hongbao_num<=0){
//                    layer.msg("红包数量不足");
//                    return false;
//				}
				if(left_re <= 0){
                    layer.msg("今日已领取完红包");
                    return false;
				}
                window.location.href = url;
            }
            var rate_num = $("input[name='rate_num']").val();
			console.log(rate_num);
			creatClock();
			//生成指针
			function creatClock(){

				var tempclock='';
				for(var i=0;i<61;i++){
					tempclock+='<div style="transform: rotate('+i*4+'deg)" class="time1"></div>';
				}
//				console.log(tempclock,111)
				$("#clock").prepend(tempclock);
				$("#clock div").each(function(i,item){
//					console.log(i,item)
					//修改长针
					if(i%15==0 || i==0) {
						$(item).addClass('time').removeClass('time1');
						
						if( i==0){
							$(item).addClass('time0')
						} else
						if(i==15 ){
							$(item).addClass('time2')
						} else
						if(i==30 ){
							$(item).addClass('time3')
						}else
						if(i==45){
							$(item).addClass('time4')
						}
						else
						if(i==60){
							$(item).addClass('time5')
						}
					}
					//修改背景色
					if(i<rate_num){
						$(item).addClass('borderC')
					}
					
				})
			}
		</script>
<include file="Public:footer"/>
