<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/hongbao.css" />
<body>
		<header class="header">
			<img src="__IMG__/rise/q.png"/><span>如何赚钱</span>
		</header>
		<div class="padbody">
			<div class="clock flexbox">
				<div class="imgclock ">
					<img src="__IMG__/rise/b.png"/>
					<img src="__IMG__/rise/b.png"/>
				</div>
				<div class="midclock">
					<div class="wrap"  id="clock"></div>

					<div class="inner">
						<div class="top_num">
							<p>3000</p>
							<img src="__IMG__/rise/bg.png"/>
						</div>
						<div class="sec_num flexbox spacebetween">
							<p>1500</p>
							<p>4500</p>
						</div>
						<div class="mid_num">
							<strong><b>5700</b><i>剩</i></strong>
							<p>VIP{$mem_info.vip_level}可领{$vip_receive_num}个红包</p>
						</div>
						<div class="bottom_num flexbox spacebetween">
							<p>0</p>
							<p>6000</p></div>
					</div>
					<a data-url="{:U('Redpack/watch_ad')}" data-left_re="{$left_re}"  onclick="is_receive($(this),{$mem_info.vip_level})"><button>领取红包</button></a>
				</div>
				<div class="imgclock rightclock">
					<img src="__IMG__/rise/b.png"/>
					<img src="__IMG__/rise/b.png"/>
				</div>
			</div>
			<div class="history">
				<div class="flexbox spacebetween">
					<strong class="flexbox spacebetween"><img src="__IMG__/rise/data.png"/><b>领取记录</b></strong>
					<a class="flexbox spacebetween" href="{:U('Redpack/receive_redpack_record')}">查看更多 <img src="__IMG__/rise/right.png"/></a>
				</div>
				<div class="historyul flexbox spacebetween">
					<div>
						<strong><b>{$total_re}</b>次</strong>
						<p>累计领取</p>
					</div>
					<div>
						<strong><b>{$total_re_num}</b>次</strong>
						<p>累计奖励</p>
					</div>
					<div>
						<strong><b>{$today_re}</b>次</strong>
						<p>今日领取</p>
					</div>
				</div>

			</div>
			<div class="hot">
				<div class="flexbox"><img src="__IMG__/rise/hot.png"/><b>热门活动</b></div>
				<a href="">
					<img src="__IMG__/rise/1.png"/>
				</a>
			</div>
		</div>
		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl footer_active_f1">红包</li>
				</a>
				<a href="">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3">
						邀请
					</li>
				</a>

				<a href="{:U('Task/index')}">
					<li class="footer_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<script type="text/javascript">

			function is_receive(obj,vip_level) {

//			    if(vip_level == 0){
//                    layer.msg("你的vip等级为0,暂时不能领取红包");
//                    return false;
//				}
				var url = obj.data('url');
//				var left_re = $(this).data('left_re');
//				if(left_re == 0){
//                    layer.msg("今日已领取完红包");
//                    return false;
//				}
                window.location.href = url;
            }
			creatClock();
			//生成指针
			function creatClock(){

				let tempclock='';
				for(let i=0;i<61;i++){
					tempclock+='<div style="transform: rotate('+i*4+'deg)" class="time1"></div>';					
				}
//				console.log(tempclock,111)
				$("#clock").prepend(tempclock);
				$("#clock div").each(function(i,item){
//					console.log(i,item)
					//修改长针
					if(i%15==0 || i==0) {
						$(item).addClass('time').removeClass('time1');
						
						if( i==0){
							$(item).addClass('time0')
						} else
						if(i==15 ){
							$(item).addClass('time2')
						} else
						if(i==30 ){
							$(item).addClass('time3')
						}else
						if(i==45){
							$(item).addClass('time4')
						}
						else
						if(i==60){
							$(item).addClass('time5')
						}
					}
					//修改背景色
					if(i<4){
						$(item).addClass('borderC')
					}
					
				})
			}
		</script>
<include file="Public:footer"/>
