<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/invite.css" />

<body class="change_body">
		<header class="nexttop  record_head change_head flexbox"><a href="{:U('Member/my_coin')}"><img src="__IMG__/rise/bback.png"/></a><strong>我要兑换</strong></header>
		<section class="section flexbox spacebetween change_current">
			<div>
				<p>当前金币</p>
				<strong>{$mem_jb_num}</strong>
			</div>
			<a href="{:U('Exchange/exrecord')}">兑换记录</a>
		</section>
		<section class="section change_num">
			<h3>提现金额</h3>
			<ul class="flexbox">
				<li class="active" data-num="1000" data-ltb="0.1">
					<div><strong>0.1莱特币</strong>
					<p>售价1千金币</p></div>
				</li>
				<li data-num="5000" data-ltb="0.5">
					<div>
						<strong>0.5莱特币</strong>
						<p>售价5千金币</p>
					</div>
				</li>
				<li data-num="10000"  data-ltb="1">
					<div>
						<strong>1莱特币</strong>
						<p>售价1万金币</p>
					</div>
				</li>
				<li data-num="50000" data-ltb="5">
					<div>
						<strong>5莱特币</strong>
						<p>售价5万金币</p>
					</div>
				</li>
				<li data-num="100000"  data-ltb="10">
					<div>
						<strong>10莱特币</strong>
						<p>售价10万金币</p>
					</div>
				</li>
				<li data-num="500000" data-ltb="50">
					<div>
						<strong>50莱特币</strong>
						<p>售价50万金币</p>
					</div>
				</li>
				<li data-num="1000000" data-ltb="100">
					<div>
						<strong>100莱特币</strong>
						<p>售价100万金币</p>
					</div>
				</li>
				<li data-num="5000000" data-ltb="500">
					<div>
						<strong>500莱特币</strong>
						<p>售价500万金币</p>
					</div>
				</li>
				<li data-num="10000000" data-ltb="1000">
					<div>
						<strong>1000莱特币</strong>
						<p>售价1000万金币</p>
					</div>
				</li>
			</ul>
		</section>
		<section class="section change_num">
			<h3>提现说明</h3>
			<div class="change_tips">
				<p>1、由于支付宝支付需要实名制非实名用户账号无法支持提现请务必将提现的支付宝账号进行实名认证!</p>
				<p>2、提现金额最低1.0元最高100元</p>
				<p>3、提现申请将在1-3个工作日内审核到账请耐心等待</p>
			</div>
		</section>
		<div class="change_button flexbox spacebetween">
			<p>所需金币：<strong>1000</strong></p><button onclick="sub()">立即兑换</button>
		</div>
		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl">红包</li>
				</a>
				<a href="{:U('Bonus/index')}">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3">
						邀请
					</li>
				</a>
				<a href="{:U('Task/index')}">
					<li class="footer_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5 footer_active_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<script>
            $(".change_num ul").find("li").click(function () {
				$(this).attr('class','active');
				$(this).siblings('li').attr('class','');
                var xh_num = $(this).data('num');
                $(".change_button").find("strong").html(xh_num);
            });
            function sub(){
                var li_active = $(".change_num ul").find("li[class='active']");
                var xh_num = li_active.data('num');
                var dh_num = li_active.data('ltb');
                $.post("{:U('Exchange/exorder')}",{
                    xh_num:xh_num,dh_num:dh_num,
                },function(data){
                    if(data.status==1){
                        layer.msg(data.info,{icon:1});
                        window.setTimeout(function(){
                            window.location="{:U('Exchange/exrecord')}";
                        },1000);
                    }else{
                        layer.msg(data.info);
                        return false;
                    }
                })
            };
		</script>
		<include file="Public:footer"/>
