<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/invite.css" />
<body>
		<header class="nexttop  record_head flexbox"><a href="javascript:history.back()"><img src="__IMG__/rise/bback.png"/></a><strong>兑换记录</strong></header>
		<dl class="record_list">
			<dt>2019-10-21</dt>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
		</dl>
		<dl class="record_list">
			<dt>2019-10-21</dt>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-100000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
			<dd class="flexbox spacebetween">
				<div>
					<p>兑换0.1莱特币</p>
					01:15:30
				</div>
				<p>
					-1000<img src="__IMG__/rise/coin2.png" />
				</p>
			</dd>
		</dl>
		<include file="Public:footer"/>