<include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">vip等级管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            </div>
        </div>
        <div class="result-wrap">
          
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Vip/config_edit#13#0')}"><i class="icon-font"></i>新增vip等级</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                        	<th>编号</th>
                            <th>等级类型</th>
                            <th>分红凭证数量</th>
                            <th>推广下线</th>
                            <!--<th>推广下线奖励币种数量</th>-->
                            <!--<th>推广下线奖励币种</th>-->
                            <th>下线领取分红返利百分比</th>
                            <th>下线抽奖</th>
                            <!--<th>下线抽奖奖励数量</th>-->
                            <!--<th>下线抽奖奖励币种</th>-->
                            <th>关闭vip返回</th>
                            <!--<th>关闭vip返回币种数量</th>-->
                            <!--<th>关闭vip返回币种</th>-->
                            <th>领取红包观看广告数量</th>
                            <th>出售</th>
                            <!--<th>出售折扣币种</th>-->
                            <!--<th>出售折扣币数量</th>-->
                            <th>实名奖励</th>
                            <th>提币手续费</th>
                            <th>操作</th>
                        </tr>
                        <volist name="list" id="vo" empty="$empty">
                        <tr> 
                        	<td>{$vo.id}</td>
                            <td>
                                <switch name="vo['type']">
                                    <case value="1">VIP1</case>
                                    <case value="2">VIP2</case>
                                    <case value="3">VIP3</case>
                                    <case value="4">VIP4</case>
                                    <case value="5">VIP5</case>
                                    <case value="6">VIP6</case>
                                    <case value="7">VIP7</case>
                                    <case value="8">VIP8</case>
                                    <case value="9">VIP9</case>
                                    <case value="10">VIP10</case>
                                </switch>
                            </td>

                            <td>{$vo.bonus_voucher_num}</td>
                            <td>
                                <p>奖励币种：{$vo.sub_reward_cur_name}</p>
                                <p>奖励数量：{$vo.sub_reward_num}</p>
                            </td>

                            <td>{$vo.sub_receive_bonus_rebate}</td>
                            <td>
                                <p>奖励币种：{$vo.sub_luckdraw_cur_name}</p>
                                <p>奖励数量：{$vo.sub_luckdraw_num}</p>
                            </td>
                            <td>
                                <p>奖励币种：{$vo.close_vip_reward_cur_name}</p>
                                <p>奖励数量：{$vo.close_vip_reward_num}</p>
                            </td>

                            <td>{$vo.receive_hongbao_num}</td>
                            <td>
                                <p>折扣币种：{$vo.sale_cur_name}</p>
                                <p>折扣数量：{$vo.sale_cur_num}</p>
                            </td>
                            <td>
                                <p>奖励币种：{$vo.cert_cur_name}</p>
                                <p>奖励数量：{$vo.cert_cur_num}</p>
                            </td>
                            <td>{$vo.ltc_service_charge_rate}</td>
                            <td>
                                <a class="link-update" href="{:U('Vip/config_edit#13#0',array('id'=>$vo['id']))}">修改</a>|
                                <a class="link-del" href="javascript:void(0)" onclick="cexiao('{$vo.id}')">删除</a><br>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page"> <ul>{$page}</ul></div>
                </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
    function cexiao(id){
        layer.confirm('确定删除吗？', {
            btn: ['确定','取消'], //按钮
            title: '撤销删除'
        }, function(){
            $.post("{:U('Vip/del')}",{id:id,model:"vip_level_config"},function(data){
                if(data['status'] == 1){
                    layer.msg(data['info'],{icon:1});
                    setTimeout(function(){location.reload();},1000);
                }else{
                    layer.msg(data['info']);
                }
            })
        }, function(){
            layer.msg('已取消');
        });
    }
</script>