<include file="App/Admin/View/Public/left.html"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">VIP购买/返回记录</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
            </div>
        </div>
        <div class="result-wrap">
                <div class="result-title">
                    <div class="search-content">
                        <form action="{:U('Vip/record#13#1')}" method="get">
                            <table class="search-tab">
                                <tr>
                                    <td width="70">手机号码:</td>
                                    <td><input class="common-text" placeholder="手机号码" name="phone" value="{$_GET['phone']}" type="text"></td>
                                    <!--<td width="50">归属:</td>-->
                                    <!--<td>-->
                                        <!--<select name="type" id="type" class="common-text">-->
                                            <!--<option value="1" <if condition="$_GET['type'] eq '1'">selected</if>>买单</option>-->
                                            <!--<option value="2" <if condition="$_GET['type'] eq '2'">selected</if>>卖单</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <td><input class="btn btn-primary btn2"  value="查询" type="submit"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="result-list">
                        <!--<a href="{:U('Currency/edit#2#0')}"><i class="icon-font"></i>新增币种</a>-->
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                        	<th>编号</th>
                            <th>用户手机号</th>
                            <th>币种</th>
                            <th>获得金币数量</th>
                            <th>到达等级数</th>
                            <th>类型</th>
                            <th>添加时间</th>
                        </tr>
                        <volist name="list" id="vo" empty="$empty">
                        <tr> 
                        	<td>{$vo.id}</td>
                        	<td>{$vo.phone}</td>
                        	<td>{$vo.currency_name}</td>
                        	<td>{$vo.num}</td>
                        	<td>
                                <switch name="vo['type']">
                                    <case value="1">VIP1</case>
                                    <case value="2">VIP2</case>
                                    <case value="3">VIP3</case>
                                    <case value="4">VIP4</case>
                                    <case value="5">VIP5</case>
                                    <case value="6">VIP6</case>
                                    <case value="7">VIP7</case>
                                    <case value="8">VIP8</case>
                                    <case value="9">VIP9</case>
                                    <case value="10">VIP10</case>
                                </switch>
                            </td>
                            <td>
                                <if condition="$vo['stype'] eq 1">
                                    购买
                                    <else />
                                    关闭
                                </if>
                            </td>
                            <td>{$vo.add_time|date="Y-m-d  H:i:s",###}</td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page"> <ul>{$page}</ul></div>
                </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
<script>
    function cexiao(id){
        layer.confirm('确定删除吗？', {
            btn: ['确定','取消'], //按钮
            title: '撤销删除'
        }, function(){
            $.post("{:U('Currency/del')}",{id:id,model:"currency"},function(data){
                if(data['status'] == 1){
                    layer.msg(data['info'],{icon:1});
                    setTimeout(function(){location.reload();},1000);
                }else{
                    layer.msg(data['info']);
                }
            })
        }, function(){
            layer.msg('已取消');
        });
    }
function judge(id){
	$.post("{:U('Exchange/judge')}",{id:id},function(data){
		 if(data<0){
			layer.msg(data.info);
		 }else{
			layer.msg(data.info,{icon:1});
			setTimeout("location.reload()",2000);
		 }
	});
}
</script>