<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/invite.css" />

<body>
		<header class="nexttop flexbox incometop"><a href=""><img src="__IMG__/rise/grayback.png"/></a><strong>邀请收益记录</strong></header>
		<div class="whitebox yq_score incomebox">
			<ul>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/vip.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
				<li  class="flexbox spacebetween"><img src="__IMG__/rise/smrz.png"/>
					<div>
						<p>18100000000(一级下线)</p>
						<span>今天09:50:06</span>						
					</div>
					<span class="lh2">+75</span>
				</li>
			</ul> 
		</div>

		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl">红包</li>
				</a>
				<a href="{:U('Welfare/outindex')}">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3 footer_active_f3">
						邀请
					</li>
				</a>

				<a href="b2c_fenlei_01.html">
					<li class="footer_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<include file="Public:footer"/>