<include file="Public:header"/>
<body  class="yaoqing">
<header>
	<div class="header_bt">
		<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
		<div class="header_c">邀请</div>
	</div>
	<div style="height: .74rem;clear: both;"></div>
</header>
	<div class="yaoqing_h">
		<img class="db" src="__IMG__/rise/db1.png"/>
		<a href=""><img src="__IMG__/rise/gz.png" class="rule"/></a>
	</div>
	<div class="yq_section">
		<ul>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
			<li><i></i></li>
		</ul>
		<ul>
			<li>发送邀请给好友</li>
			<li>好友完成实名并进行抽奖</li>
			<li>获得相应比例返佣</li>
		</ul>
	</div>
	<div class="yq_section top_blue_side">
		<p>
			<span></span>
			<span><em></em><i></i></span>
		</p>
		<p>
			<span></span>
			<span><em></em><i></i></span>
		</p>
		<p>
			<span class="schb"></span>
			<span class="mdmyq"></span>
		</p>
	</div>
	<div class="yq_section top_blue_side wdsy">
		<p><span>我的收益</span><i></i></p>
		<ul>
			<li>
				<p>71</p>
				<a href="">直推人数</a>
			</li>
			<li>
				<p>596</p>
				<a href="">二级下线</a>
			</li>
		</ul>
		<ul>
			<li>
				<p>571</p>
				<a href="">今日佣金</a>
			</li>
			<li>
				<p>16750</p>
				<a href="">累计佣金(金币)</a>
			</li>
		</ul>
	</div>
	<div class="yq_section top_blue_side phb">
		<p><span><var>我的收益</var></span><span><i></i></span></p>
		<p><span><var></var><em></em></span> <span><b></b></span></p>
	</div>




	<div style="height: .9rem;"></div>
	<div class="footer_main">
		<ul>
			<a href="{:U('Redpack/index')}">
				<li class="footer_fl">红包</li>
			</a>
			<a href="">
				<li class="footer_f2">分红</li>
			</a>
			<a href="{:U('Invite/index')}">
				<li class="footer_f3 footer_active_f3">
					邀请
				</li>
			</a>
			<a href="{:U('Task/index')}">
				<li class="footer_f4">
					任务
				</li>
			</a>
			<a href="{:U('Member/index')}">
				<li class="footer_f5">
					我的
				</li>
			</a>
		</ul>
	</div>
	<script>
		$(".fixed").find(".copy").click(function () {
			var clipboard = new Clipboard(".copy");
			clipboard.on('success', function(e) {
				console.log(e);
				layer.msg('复制成功',{icon:1});
			});
		});
	</script>
<include file="Public:footer"/>
