<include file="Public:header"/>
<body  class="yaoqing">
<header>
	<div class="header_bt">
		<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
		<div class="header_c">邀请</div>
	</div>
	<div style="height: .74rem;clear: both;"></div>
</header>
	<div class="yaoqing_h">
		<img class="db" src="__IMG__/rise/db1.png"/>
		<a href=""><img src="__IMG__/rise/gz.png" class="rule"/></a>
	</div>
	<div class="yq_section icon">
		<ul class="icon_ul">
			<li><i class="yqicon1"></i></li>
			<li><i class="yqicon2"></i></li>
			<li><i class="yqicon3"></i></li>
			<li><i class="yqicon2"></i></li>
			<li><i class="yqicon4"></i></li>
		</ul>
		<ul class="icon_text icon_ul">
			<li>发送邀请给好友</li>
			<li>好友完成实名并进行抽奖</li>
			<li>获得相应比例返佣</li>
		</ul>
	</div>
	<div class="yq_section zylj">
		<i class="yaoqing_top_side"></i>
		<p class="t">
			<span>我的直邀链接</span>
			<span class="input_txt zy_text"><em>https://wwww.baidu.com/so2w.baidu.com/so2</em><i></i></span>
		</p>
		<p>
			<span>我的邀请码</span>
			<span class="input_txt yqm_text"><em>18741808793</em><i></i></span>
		</p>
		<p>
			<a href="javascript:;" class="schb"><img src="__IMG__/rise/sc.png" alt=""></a>
			<a href="javascript:;" class="mdmyq"><img src="__IMG__/rise/yq.png" alt=""></a>
		</p>
	</div>
	<div class="yq_section  wdsy">
		<i class="yaoqing_top_side"></i>
		<a href=""><p class="title"><span>我的收益</span><i></i></p></a>
		<ul class="ztrs">
			<li>
				<p>71</p>
				<a href="">直推人数</a>
			</li>
			<li>
				<p>596</p>
				<a href="">二级下线</a>
			</li>
		</ul>
		<ul class="ztrs">
			<li>
				<p>571</p>
				<a href="">今日佣金</a>
			</li>
			<li>
				<p>16750</p>
				<a href="">累计佣金(金币)</a>
			</li>
		</ul>
	</div>
	<div class="yq_section phb">
		<i class="yaoqing_top_side"></i>
		<a href="{:U('Invite/rank_record')}"><p class="title"><span>累计收益排行榜</span><i></i></p></a>
		<ul>
			<li>
				<span><i class="top1"></i>18078148789</span>
				<span>126797<em>金币</em></span>
			</li>
			<li>
				<span><i class="top2"></i>18078148789</span>
				<span>126797<em>金币</em></span>
			</li>
			<li>
				<span><i class="top3"></i>18078148789</span>
				<span>126797<em>金币</em></span>
			</li>
		</ul>
	</div>

	<div class="sc_hb">
		<i class="close_hb"></i>
		<!--<img src="__IMG__/rise/hb.png" alt="">-->
		<div class="item">
			<p>18078148789</p>
			<img src="__IMG__/rise/qrcode.png" alt="">
		</div>
	</div>

	<div style="height: .9rem;"></div>
	<div class="footer_main">
		<ul>
			<a href="{:U('Redpack/index')}">
				<li class="footer_fl">红包</li>
			</a>
			<a href="">
				<li class="footer_f2">分红</li>
			</a>
			<a href="{:U('Invite/index')}">
				<li class="footer_f3 footer_active_f3">
					邀请
				</li>
			</a>
			<a href="{:U('Task/index')}">
				<li class="footer_f4">
					任务
				</li>
			</a>
			<a href="{:U('Member/index')}">
				<li class="footer_f5">
					我的
				</li>
			</a>
		</ul>
	</div>
	<script>
		$(".fixed").find(".copy").click(function () {
			var clipboard = new Clipboard(".copy");
			clipboard.on('success', function(e) {
				console.log(e);
				layer.msg('复制成功',{icon:1});
			});
		});

		$(".close_hb").click(function () {
			$(".sc_hb").hide();
        })
        $(".schb").click(function () {
            $(".sc_hb").show();
        })

	</script>
<include file="Public:footer"/>
