<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/invite.css" />
<body  class="yaoqing" >
		<header class="nexthead">
			<div class="nexttop flexbox"><a href="javascript:history.back();"><img src="__IMG__/rise/back.png"/></a><strong>一级下线</strong></div>
			<div class="topbox">
				<div>一级累计奖励(金币)</div>
				<p>5874</p>
				<div class="flexbox spacebetween">
					<span>一级人数：7人</span>
					<span>实名人数：5人</span>
				</div>
			</div>
		</header>
		
		<ul class="nextul">
			<li  class="flexbox spacebetween whitebox">
				<img class="headimg" src="__IMG__/rise/headimg.png"/>
				<div>
					<div>18724596524 <img src="__IMG__/rise/v6.png"/></div>
					<p>累计上贡587金币</p>
				</div>
				<div  class="flex1">
					<p>已实名</p>
					<p>2019-10-21</p>
				</div>
			</li>
			<li  class="flexbox spacebetween whitebox">
				<img class="headimg" src="__IMG__/rise/headimg.png"/>
				<div>
					<div>18724596524 <img src="__IMG__/rise/v6.png"/></div>
					<p>累计上贡587金币</p>
				</div>
				<div  class="flex1">
					<p>已实名</p>
					<p>2019-10-21</p>
				</div>
			</li>
			<li  class="flexbox spacebetween whitebox">
				<img class="headimg" src="__IMG__/rise/headimg.png"/>
				<div>
					<div>18724596524 <img src="__IMG__/rise/v6.png"/></div>
					<p>累计上贡587金币</p>
				</div>
				<div  class="flex1">
					<p>已实名</p>
					<p>2019-10-21</p>
				</div>
			</li>
			<li  class="flexbox spacebetween whitebox">
				<img class="headimg" src="__IMG__/rise/headimg.png"/>
				<div>
					<div>18724596524 <img src="__IMG__/rise/v6.png"/></div>
					<p>累计上贡587金币</p>
				</div>
				<div  class="flex1">
					<p>已实名</p>
					<p>2019-10-21</p>
				</div>
			</li>
			<li  class="flexbox spacebetween whitebox">
				<img class="headimg" src="__IMG__/rise/headimg.png"/>
				<div>
					<div>18724596524 <img src="__IMG__/rise/v6.png"/></div>
					<p>累计上贡587金币</p>
				</div>
				<div  class="flex1">
					<p>已实名</p>
					<p>2019-10-21</p>
				</div>
			</li>
			<li  class="flexbox spacebetween whitebox">
				<img class="headimg" src="__IMG__/rise/headimg.png"/>
				<div>
					<div>18724596524 <img src="__IMG__/rise/v6.png"/></div>
					<p>累计上贡587金币</p>
				</div>
				<div  class="flex1">
					<p>已实名</p>
					<p>2019-10-21</p>
				</div>
			</li>
		</ul>

		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl">红包</li>
				</a>
				<a href="{:U('Welfare/outindex')}">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3 footer_active_f3">
						邀请
					</li>
				</a>

				<a href="b2c_fenlei_01.html">
					<li class="footer_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<include file="Public:footer"/>
