<include file="Public:header"/>
<body class="rank_record">
<div>
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
            <div class="header_c">累计收益排行榜</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <if condition="$sum_num_arr">
        <div class="top3">
            <ul>
                <li class="bottom_right">
                    <div>
                        <img src="__IMG__/rise/no2.png" alt="">
                        <p>{$tpo3_arr[1]['phone']|default='***********'}</p>
                    </div>
                    <p>{$tpo3_arr[1]['num']|default='***'}<em>金币</em></p>
                </li>
                <li  class="bottom_m">
                    <div>
                        <img src="__IMG__/rise/no1.png" alt="">
                        <p>{$tpo3_arr[0]['phone']|default='***********'}</p>
                    </div>
                    <p>{$tpo3_arr[0]['num']|default='***'}<em>金币</em></p>

                </li>
                <li  class="bottom_left">
                    <div>
                        <img src="__IMG__/rise/no3.png" alt="">
                        <p>{$tpo3_arr[2]['phone']|default='***********'}</p>
                    </div>
                    <p>{$tpo3_arr[2]['num']|default='***'}<em>金币</em></p>
                </li>
            </ul>
        </div>
        <div class="top_list">
            <table>
                <tr>
                    <th>排名</th>
                    <th>邀请账号</th>
                    <th>本期获得<em>金币</em> </th>
                </tr>
                <volist name="sum_num_arr" key="k" id="v">
                    <if condition="$k gt 3">
                        <tr>
                            <td class="gray oblique">NO.<em>{$k}</em></td>
                            <td>{$key}</td>
                            <td>{$v}<em class="gray">金币</em></td>
                        </tr>
                    </if>

                </volist>
            </table>
        </div>
    <else />
        <div class="no_ex_pub_data">
            <img src="__IMG__/rise/no_data.png" alt="">
            <p class="text">暂时没有数据</p>
        </div>
    </if>
</div>


<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="{:U('Bonus/index')}">
            <li class="footer_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3  footer_active_f3">
                邀请
            </li>
        </a>

        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<include file="Public:footer"/>
