<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/invite.css" />
<body  class="yaoqing" >
		<header class="nexthead">
			<div class="nexttop flexbox"><a href="javascript:history.back();"><img src="__IMG__/rise/back.png"/></a><strong>二级下线</strong></div>
			<div class="topbox">
				<div>二级累计奖励(金币)</div>
				<p>{$level_num|default=0}</p>
				<div class="flexbox spacebetween">
					<span>二级人数：{$level_num|default=0}人</span>
					<span>实名人数：{$level_count|default=0}人</span>
				</div>
			</div>
		</header>
		
		<ul class="nextul">
			<volist name="$level_list" id="vo">
				<li  class="flexbox spacebetween whitebox">
					<if condition="$vo['head_url']">
						<img class="headimg" src="{$vo['head_url']}"/>
						<else />
						<img class="headimg" src="__IMG__/rise/headimg.png"/>
					</if>
					<div>
						<div>{$vo['sub_phone']} <img src="__IMG__/rise/v6.png"/></div>
						<p>累计上贡{$vo['num']}金币</p>
					</div>
					<div  class="flex1">
						<p>
							<if condition="$vo['is_cert'] eq 1">
								未实名
								<else />
								已实名
							</if>
						</p>
						<p>{$vo['add_time']|date="Y-m-d",###}</p>
					</div>
				</li>
			</volist>
		</ul>

		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl">红包</li>
				</a>
				<a href="{:U('Welfare/outindex')}">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3 footer_active_f3">
						邀请
					</li>
				</a>

				<a href="b2c_fenlei_01.html">
					<li class="footer_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<include file="Public:footer"/>
