<include file="Public:header"/>
<body style="    background-color: #fafafa;">
<script>
    (function (global) {
        function Counter(options) {
            this.init(options);
        }

        Counter.__DEFAULTS__ = {
            // 展示效果的元素
            el: null,
            // 起始数
            fromNumber: 0,
            // 结束数
            toNumber: 0,
            // 用于支持小数
            enableFloat: false,
            // 持续时间
            duration: 300
        };

        Counter.prototype.init = function (options) {
            this.precision = getPrecision(options.toNumber);
            this.setOptions(options);
            if (typeof this.el === 'string') {
                this.el = document.querySelector(this.el);
            }
            console.log(this.toNumber);

            if (!(this.el instanceof Element)) {
                throw TypeError('el must be a element.');
            }
        }

        Counter.prototype.setOptions = function (options) {
            var defaults = Counter.__DEFAULTS__, opts = options && typeof options === 'object' ? options : {}, k;
            for( k in defaults ) {
                this[k] = defaults[k];
            }
            for ( k in this ) {
                if (k in opts && typeof opts[k] !== 'undefined'
                    && opts[k] !== this[k]
                ) {
                    if ( typeof this[k] === 'number' ) {
                        opts[k] = parseFloat(opts[k]) || this[k];
                    }

                    else if ( typeof this[k] === 'boolean' ) {
                        opts[k] = !!opts[k];
                    }

                    else if ( typeof this[k] === 'object' ) {
                        opts[k] = typeof opts[k] === 'object' ? opts[k] : this[k];
                    }

                    else {
                        opts[k] = this[k].construtor(opts[k]);
                    }

                    if ( this[k] == null || typeof(this[k]) === typeof(opts[k]) ) {
                        this[k] = opts[k];
                    }
                }
            }
        }

        Counter.prototype.start = function () {
            const self = this,
                from = parseFloat( self.fromNumber ),
                to = parseFloat( self.toNumber ),
                enableFloat = self.enableFloat,
                precision = self.precision,
                duration = self.duration,
                el = self.el,
                startTime = Date.now();

            const update = function () {
                var nowTime = Date.now(),
                    ratio = Math.min( 1, (nowTime - startTime) / duration ),
                    result = ratio * (to - from) + from;
                console.log(from, self.toNumber);
                if (enableFloat) {
                    result = result.toFixed(precision);
                } else {
                    result = Math.floor(result);
                }

                if ( ratio == 1 || el.innerHTML == to ) {
                    clearInterval(self.__timerId__);
                }

                el.innerHTML = result;
            };
            if (self.__timerId__) {
                clearInterval(self.__timerId__);
            }
            self.__timerId__ = setInterval(update, 1000 / 60);
        }

        // 获取小数点精度
        function getPrecision(num) {
            var n = num + '', i = n.indexOf('.') + 1;
            n = n.slice( i, n.length);
            return i ? n.length : i;
        }
        // 自定义方法
        Math.getPrecision = getPrecision;
        global.Counter = Counter;
    })(this);
</script>
<div class="fenhong">
    <header>
        <div class="header_bt">
            <div class="header_f"><a href="javascript:history.back()" class="">游戏玩法</a></div>
            <div class="header_c"></div>
            <div class="header_r"><a href="{:U('record')}" class="">领取记录</a></div>
        </div>
        <div style="height: .74rem;clear: both;"></div>

    <div class="fenghong_h">
        <p class="title">累计已经发放分红({$reward_cur_name})</p>
        <p class="fenghong_total_num">{$sum_jb_num}</p>
        <div class="lastly_receive">
            <if condition="$rand_mem['rand_head']">
                <img src="__IMG__/tx{$rand_mem['rand_head']}.png" alt="">
            <else />
                <img src="__IMG__/tx1.png" alt="">
            </if>
            <div>
                <p>
                    <span>{$rand_mem['rand_mem_phone']|default="151****1532"}</span>
                    <a href="javascript:;"><i></i></a>
                </p>
                <p>领取时间:{$rand_mem['receive_time']|date="m/d H:i:s",###}</p>
            </div>
        </div>
    </div>
    </header>
    <div class="lqfh_btn" onclick="sub({$bonus_conf.accumulate_hours},{$bonus_conf.interval_hours})">
        领取分红
    </div>
    <p class="lqfh_tips">
        <span>*权证可参与瓜分平台的广告收益</span>
        <a href="{:U('Bonus/bonus_voucher')}"><span class="yellow">什么是权证?</span></a>
    </p>
    <div class="wdpz">
        <div>
            <span>我的VIP等级</span>
            <span>VIP{$member_info.vip_level}</span>
        </div>
        <div>
            <span>每凭证每秒收益(金币)</span>
            <span>{$reward_num}</span>
        </div>
        <div class="con">
            <p>我瓜分的收益(金币)</p>
            <p class="mem_jb_sum_num" style="display: block!important;">{$mem_jb_sum_num|default=0.00000000}</p>
            <p class="pz_bgk">我的凭证：{$bonus_voucher_num}份</p>
            <p>收益每分红结算一次，超过{$bonus_conf.accumulate_hours}小时不领取将暂时累积</p>
        </div>
    </div>
</div>
<input type="hidden" name="bonus_voucher_num" value="{$bonus_voucher_num}">
<input type="hidden" name="decimal_num" value="{$bonus_conf.decimal_num|default=0}">
<input type="hidden" name="left_second" value="{$left_second|default=0}">
<input type="hidden" name="is_receive" value="{$is_receive|default=0}">
<input type="hidden" name="reward_num" value="{$reward_num|default=0}">
    
<div class="k_line">
   <div id="main"></div>
</div>
<p class="k_line_b">K线收益仅供参考，实际分红以平台公布为准</p>
<div class="zhezhao_h"></div>
<div class="mask"  id="mask_close">
    <div class="maskbox">
        <p class="mask_close" >
            <img src="__IMG__/rise/close.png"/>
        </p>
        <div>
            <img src="__IMG__/rise/coin2.png"/>
        </div>
        <div>领取成功</div>
        <div><span class="cur_num">88</span><span class="cur_name">金币</span></div>
        <p>可在“金币明细”查看</p>
        <button class="fanhui">立即返回</button>
        </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Redpack/index')}">
            <li class="footer_fl">红包</li>
        </a>
        <a href="{:U('Bonus/index')}">
            <li class="footer_f2 footer_active_f2">分红</li>
        </a>
        <a href="{:U('Invite/index')}">
            <li class="footer_f3">
                邀请
            </li>
        </a>

        <a href="{:U('Task/index')}">
            <li class="footer_f4">
                任务
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5">
                我的
            </li>
        </a>
    </ul>
</div>
<script src="__JS__/echart.js"></script>
<script>
    $("#mask_close .mask_close img").click(function(){
        $("#mask_close").hide();

    });
    $(function () {
        var count = $("input[name='left_second']").val();
        var decimal_num = $("input[name='decimal_num']").val();
        var bonus_voucher_num = $("input[name='bonus_voucher_num']").val();
        var is_receive = $("input[name='is_receive']").val();
        var reward_num = $("input[name='reward_num']").val();
        console.log(count);
        console.log(decimal_num);
        console.log(bonus_voucher_num);
        console.log(is_receive);
        console.log(reward_num);
        var count_str = count;



        // 获取一字符在另一字符串中出现的次数
        // 参数
        //  source    搜索源字符串
        //  search    被搜索的字符串

        var timer = setInterval(function() {
            const num = document.querySelector('.num'),
                begin = document.querySelector('.begin'),
                showBox = document.querySelector('.mem_jb_sum_num');
            var mem_jb_sum_num = parseFloat($(".mem_jb_sum_num").text());
            if (count <= 0) {
                // 清除定时器
                clearInterval(timer);
                return;
            }
            // 3.6 条件处理
            var increase_num = parseFloat(bonus_voucher_num*reward_num*2).toFixed(decimal_num);
            console.log("increase_num:"+increase_num);
            mem_jb_sum_num = parseFloat((parseInt(mem_jb_sum_num*10000000)+parseInt(increase_num*10000000))/10000000).toFixed(decimal_num);
            console.log("mem_jb_sum_num:"+mem_jb_sum_num);

//            $(".mem_jb_sum_num").text(mem_jb_sum_num).fadeIn(1000);
            console.log("innerHTML:"+showBox.innerHTML);
//            const run = function() {
                new Counter({
                    el: showBox,
                    fromNumber: showBox.innerHTML,
                    toNumber: mem_jb_sum_num || 0,
                    enableFloat: true,
                    duration: 1500
                }).start();
//            };
//            if(count == count_str){
//                $(".mem_jb_sum_num").fadeOut(1000,function () {
//                    $(".mem_jb_sum_num").show();
//                });
//            }
//            $(".mem_jb_sum_num").fadeOut(1000);
            count = count-2;
            console.log("count:"+count);
        }, 2000);

    });

    function sub(accumulate_hours,interval_hours){
        var is_receive = $("input[name='is_receive']").val();
        if(is_receive == 0){
            layer.msg("收益已累计"+accumulate_hours+"小时");
            return false;
        }

        $.post("{:U('Bonus/receive')}",{},function(data){
            if(data.status == 0){
                layer.msg(data.info);
                return false;
            }else{
                var arr = data.data;
//                $(".zhezhao_h").attr("");

                $("#mask_close .cur_num").text(arr.reward_num);
                $("#mask_close .cur_name").text(arr.cur_name);
                $("#mask_close").show();

            }
        });
    }
    $(".fanhui").click(function () {
        $("#mask_close").hide();
        location.reload();
    })

    /*k线*/
    var myChart = echarts.init(document.getElementById('main'));
    myChart.showLoading();
    $.post("/Mobile/Bonus/get_k_data", function (data) {

        myChart.hideLoading();

        data = data.data;
        console.log(data);

        myChart.setOption(option = {
            title: {
                text: '每日分红(w)',
//                subtext: 'Example in MetricsGraphics.js',
                subtext: '',
                left: 'left',

                textStyle : {
                    fontWeight : 'normal',
                    fontSize : '18px',
                    color: '#7f7f7f'
                }

            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    animation: false,
                    label: {
                        backgroundColor: '#fff',
                        borderColor: '#aaa',
                        borderWidth: 1,
                        shadowBlur: 0,
                        shadowOffsetX: 0,
                        shadowOffsetY: 0,
                        textStyle: {
                            color: '#7f7f7f'
                        }
                    }
                },
                formatter: function (params) {
//                    console.log(params);
//                    return params[0].name + '<br />' + params[2].value;
                    return params[0]['value'];
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                data: data.map(function (item) {
                    return item.date;
                }),
                axisLabel: {
                    formatter: function (value, idx) {
                        var date = new Date(value);
                        return idx === 0 ? value : [date.getMonth() + 1, date.getDate()].join('-');
                    }
                },
                splitLine: {
                    show: false
                },
                boundaryGap: false
            },
            yAxis: {
                axisLabel: {
                    formatter: function (val) {
                        console.log(val);
                        return val;
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            console.log(params);
                            return (params.value).toFixed(2)
                        },
                    }
                },

                splitNumber: 3,
                splitLine: {
                    show: false
                }
            },
            series: [
//                {
//                name: 'L',
//                type: 'line',
//                data: data.map(function (item) {
//                    return item.l + base;
//                }),
//                lineStyle: {
//                    normal: {
//                        opacity: 0
//                    }
//                },
//                stack: 'confidence-band',
//                symbol: 'none'
//            }, {
//                name: 'U',
//                type: 'line',
//                data: data.map(function (item) {
//                    return item.u - item.l;
//                }),
//                lineStyle: {
//                    normal: {
//                        opacity: 0
//                    }
//                },
//                areaStyle: {
//                    normal: {
//                        color: '#ccc'
//                    }
//                },
//                stack: 'confidence-band',
//                symbol: 'none'
//            },
                {
                type: 'line',
//                data: data.map(function (item) {
//                    return item.value + base;
//                }),
                data:data,
                hoverAnimation: true,
                symbolSize: 6,
                itemStyle: {
                    normal: {
                        color: '#118ee8'
                    }
                },
                showSymbol: false
            }]
        });
    });

</script>
<include file="Public:footer"/>

