<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/invite.css" />
<body>
<div>
	<header>
		<div class="header_bt">
			<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
			<div class="header_c">累积收益</div>
		</div>
		<div style="height: .74rem;clear: both;"></div>
	</header>

	<if condition="$list">
		<div class="whitebox yq_score incomebox">
			<ul>
				<volist name="list" id="vo">
					<li  class="flexbox spacebetween"><img src="__IMG__/rise/lcb.png"/>
						<div>
							<p>凭证:{$vo.bonus_voucher_num}份(VIP{$vo.level})</p>
							<span>{$vo.add_time|date="m/d H:i:s",###}(累积{$vo.accumulate_second}秒)</span>
						</div>
						<span class="lh2">+{$vo.num}</span>
					</li>
				</volist>

			</ul>
		</div>
	<else />
		<div class="no_ex_pub_data">
			<img src="__IMG__/rise/no_data.png" alt="">
			<p class="text">暂时没有数据</p>
		</div>
	</if>
	<!--<div class="whitebox yq_score incomebox">-->
		<!--<ul>-->
			<!--<li  class="flexbox spacebetween"><img src="__IMG__/rise/lcb.png"/>-->
				<!--<div>-->
					<!--<p>凭证:5份（VIP2)</p>-->
					<!--<span>11/11 09:50:02(累积10800秒)</span>-->
				<!--</div>-->
				<!--<span class="lh2">+75</span>-->
			<!--</li>-->
			<!--<li  class="flexbox spacebetween"><img src="__IMG__/rise/lcb.png"/>-->
				<!--<div>-->
					<!--<p>凭证:5份（VIP2)</p>-->
					<!--<span>11/11 09:50:02(累积10800秒)</span>-->
				<!--</div>-->
				<!--<span class="lh2">+75</span>-->
			<!--</li>-->
			<!--<li  class="flexbox spacebetween"><img src="__IMG__/rise/lcb.png"/>-->
				<!--<div>-->
					<!--<p>凭证:5份（VIP2)</p>-->
					<!--<span>11/11 09:50:02(累积10800秒)</span>-->
				<!--</div>-->
				<!--<span class="lh2">+75</span>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->

</div>
<div style="height: .9rem;"></div>
<div class="footer_main">
	<ul>
		<a href="{:U('Redpack/index')}">
			<li class="footer_fl">红包</li>
		</a>
		<a href="{:U('Bonus/index')}">
			<li class="footer_f2 footer_active_f2" >分红</li>
		</a>
		<a href="{:U('Invite/index')}">
			<li class="footer_f3">
				邀请
			</li>
		</a>

		<a href="{:U('Task/index')}">
			<li class="footer_f4">
				任务
			</li>
		</a>
		<a href="{:U('Member/index')}">
			<li class="footer_f5">
				我的
			</li>
		</a>
	</ul>
</div>
<include file="Public:footer"/>