<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/my.css" />

<body >
<header class="my_head">
    <img src="../任务/img/AD.png"/><strong>176****1222</strong>
</header>
<ul class="my_gold flexbox spacebetween">
    <li>
        <div><strong>5210</strong><img src="img/tx.png"/></div>
        <p>当前金币</p>
    </li>
    <li>
        <div><strong>52</strong><img src="img/cz.png"/></div>
        <p>金额(币)</p>
    </li>
</ul>
<ul class="my_list">
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="img/vip1.png"/><span>VIP会员</span></p><img src="../红包/img/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="img/hd.png"/><span>福利活动</span></p><img src="../红包/img/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="img/hz.png"/><span>商业合作</span></p><img src="../红包/img/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="img/gg.png"/><span>官方公告</span></p><img src="../红包/img/right.png"/>
        </a>
    </li>
    <li>
        <a href="" class="flexbox spacebetween">
            <p><img src="img/sz.png"/><span>个人设置</span></p><img src="../红包/img/right.png"/>
        </a>
    </li>
</ul>
<div class="advance">
    <div>猜成语赚零花钱，登录领红包，现在知道还不晚！</div>
    <img src=""/>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="index.html">
            <li class="footer_fl">省券</li>
        </a>
        <a href="{:U('Welfare/outindex')}">
            <li class="footer_f2">福利</li>
        </a>
        <a href="{:U('Exchange/buyview')}">
            <li class="footer_f3">
                兑换
            </li>
        </a>

        <a href="b2c_fenlei_01.html">
            <li class="footer_f4">
                开箱
            </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_f5 footer_active_f5">
                我的
            </li>
        </a>
    </ul>
</div>

<include file="Public:footer"/>

