<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/task.css" />
	<body class="graybody">
		<header class="taskheader">
			<div>我的金币</div>
			<div class="strategy flexbox spacebetween">
				<p><strong>5210</strong>=0.52币</p>
				<a href=""><img src="__IMG__/rise/task.png"/></a>
			</div>
			<div class="task_top_box">
				<div class="top_box_head flexbox spacebetween">
					<p><strong>已连续签到<span>5天</span></strong></p>
					<p>明日签到可得<text>4</text>金币</p>
				</div>
				<ul class="flexbox spacebetween" id="taskTopList">
					<li class="active">
						<div>1</div>
						<p>1天</p>
					</li>
					<li>
						<div>4</div>
						<p>2天</p>
					</li>
					<li>
						<div>5</div>
						<p>3天</p>
					</li>
					<li>
						<div>10</div>
						<p>4天</p>
					</li>
					<li>
						<div>4</div>
						<p>5天</p>
					</li>
					<li>
						<div>5</div>
						<p>6天</p>
					</li>
					<li>
						<div>20</div>
						<p>7天</p>
					</li>
				</ul>
				<p id="taskbutton" class="taskbutton"><button>签到领金币</button></p>
			</div>
		</header>
		<section class="task_section">
			<ul class="task_loop">
				<li><img src="__IMG__/rise/laba.png"/>181****6589抽中666金币</li>
			</ul>
			<ul class="task_list">
				<li class="flexbox spacebetween">
					<img src="__IMG__/rise/AD.png"/>
					<div class="mid_list">
						<strong>领取10次红包(32/<span>10</span>)</strong>
						<div>每次抽奖消耗10次抽奖数，最高中 100金币</div>
					</div>
					<div>
						<p>+1<img src="__IMG__/rise/love.png"/></p>
						<a href="">去抽奖</a>						
					</div>
				</li>
				
				<li class="flexbox spacebetween">
					<img src="__IMG__/rise/yq2.png"/>
					<div class="mid_list">
						<strong>邀请好友(0/<span>3</span>)</strong>
						<div>每次抽奖消耗3次抽奖数，最高中 1000金币</div>
					</div>
					<div>
						<p>+5<img src="__IMG__/rise/love.png"/></p>
						<a href="">去抽奖</a>						
					</div>
				</li>
				<li class="flexbox spacebetween">
					<img src="__IMG__/rise/gx.png"/>
					<div class="mid_list">
						<strong>购买贡献值(23/<span>10</span>)</strong>
						<div>每次抽奖消耗10次抽奖数，最高中 100金币</div>
					</div>
					<div>
						<p>+2<img src="__IMG__/rise/love.png"/></p>
						<a href="">去抽奖</a>						
					</div>
				</li>
				<li class="flexbox spacebetween">
					<img src="__IMG__/rise/lc.png"/>
					<div class="mid_list">
						<strong>领取分红(236<span>2</span>)</strong>
						<div>每次抽奖消耗2次抽奖数，最高中 100金币</div>
					</div>
					<div>
						<p>+5<img src="__IMG__/rise/love.png"/></p>
						<a href="">去抽奖</a>						
					</div>
				</li>
				<li class="flexbox spacebetween">
					<img src="__IMG__/rise/VIP.png"/>
					<div class="mid_list">
						<strong>看广告赚金币(2/<span>1</span>)</strong>
						<div>每次抽奖消耗1次抽奖数，最高中 100金币</div>
					</div>
					<div>
						<p>+10<img src="__IMG__/rise/love.png"/></p>
						<a href="">去抽奖</a>						
					</div>
				</li>
			</ul>
		</section>
		<div class="mask "  id="mask_close">
			<div class="maskbox">
				<p class="mask_close" >
					<img src="__IMG__/rise/close.png"/>
				</p>
				<div>
					<img src="__IMG__/rise/coin2.png"/>
				</div>
				<div>恭喜抽中</div>
				<div>88金币</div>
				<p>可在“金币明细”查看</p>
				<button>再抽一次</button>
			</div>
		</div>
		<div style="height: .9rem;"></div>
		<div class="footer_main">
			<ul>
				<a href="{:U('Redpack/index')}">
					<li class="footer_fl">红包</li>
				</a>
				<a href="">
					<li class="footer_f2">分红</li>
				</a>
				<a href="{:U('Invite/index')}">
					<li class="footer_f3">
						邀请
					</li>
				</a>

				<a href="{:U('Task/index')}">
					<li class="footer_f4 footer_active_f4">
						任务
					</li>
				</a>
				<a href="{:U('Member/index')}">
					<li class="footer_f5">
						我的
					</li>
				</a>
			</ul>
		</div>
		<script type="text/javascript">
			$("#taskbutton").click(function(){
				$(this).hide();
				$("#mask_close").show();
//				$("#taskTopList")

			});
			$("#mask_close .mask_close img").click(function(){
				$("#mask_close").hide();
			})
		</script>

		<include file="Public:footer"/>
