<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/task.css" />
	<body>
	<!--<header>-->
		<!--<div class="header_bt">-->
			<!--<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>-->
			<!--<div class="header_c"></div>-->
		<!--</div>-->
		<!--<div style="height: .74rem;clear: both;"></div>-->
	<!--</header>-->
	<div class="taskheader">
		<div class="strategy">
			<div class="flexbox spacebetween">
				<p>
					<span><i class="ltb"></i><em class="jtb_n">{$mem_ltb_cur_num|default=0.00}</em></span>
					<span><i class="jb"></i><em class="jb_n">{$mem_jb_cur_num|default=0}</em></span>
				</p>
				<!--<p>连续签到，额外奖励</p>-->
			</div>
		</div>
		<input type="hidden" name="task_luckdraw_use_num" value="{$task_conf.task_luckdraw_use_num}">
		<div class="task_top_box">
			<div class="task_top_con">
				<ul class="flexbox spacebetween" id="taskTopList">
					<li <if condition="$daily_record['daily_num'] egt 1">class="active"</if>>
					<div>{$sign_conf.num_1}</div>
					<p>1天</p>
					</li>
					<li <if condition="$daily_record['daily_num'] egt 2">class="active"</if>>
					<div>{$sign_conf.num_2}</div>
					<p>2天</p>
					</li>
					<li <if condition="$daily_record['daily_num'] egt 3">class="active"</if>>
					<div>{$sign_conf.num_3}</div>
					<p>3天</p>
					</li>
					<li <if condition="$daily_record['daily_num'] egt 4">class="active"</if>>
					<div>{$sign_conf.num_4}</div>
					<p>4天</p>
					</li>
					<li <if condition="$daily_record['daily_num'] egt 5">class="active"</if>>
					<div>{$sign_conf.num_5}</div>
					<p>5天</p>
					</li>
					<li <if condition="$daily_record['daily_num'] egt 6">class="active"</if>>
					<div>{$sign_conf.num_6}</div>
					<p>6天</p>
					</li>
					<li <if condition="$daily_record['daily_num'] egt 7">class="active"</if>>
					<div>{$sign_conf.num_7}</div>
					<p>7天</p>
					</li>
				</ul>

				<if condition="$is_today_sign eq 0">
					<p id="taskbutton" onclick="sign($(this))" data-daily_num="{$daily_record['daily_num']}"  class="taskbutton"><button>签到领金币</button></p>
				</if>
			</div>
		</div>
	</div>
	<div class="flexbox spacebetween task_m">
		<p class="title">每日抽取好礼</p>
		<a href="{:U('Task/task_record')}"><p><span>查看我的奖品</span><i></i></p></a>
	</div>
	<div class="task_item">
		<ul class="flexbox spacebetween ">
			<li>
				<img src="__IMG__/rise/3x.png" alt="">
				<p>30~99金币</p>
			</li>
			<li>
				<img src="__IMG__/rise/500.png" alt="">
				<p>500元现金红包</p>
			</li>
			<li>
				<img src="__IMG__/rise/1x.png" alt="">
				<p>1~9金币</p>
			</li>
			<li>
				<img src="__IMG__/rise/huawei.png" alt="">
				<p>华为30pro</p>
			</li>
			<li class="start_luck" is_click="0">
				 <span>开 始 抽 奖</span>
				 <p>{$task_conf.task_luckdraw_use_num|default=0.01}{$task_conf.task_luckdraw_use_cur_name}/次</p>

			</li>
			<li>
				<img src="__IMG__/rise/applem.png" alt="">
				<p>iPhone11</p>
			</li>
			<li>
				<img src="__IMG__/rise/4x.png" alt="">
				<p>100~999金币</p>
			</li>
			<li>
				<img src="__IMG__/rise/wxr.png" alt="">
				<p>外星人笔记本</p>
			</li>
			<li>
				<img src="__IMG__/rise/2x.png" alt="">
				<p>10~29金币</p>
			</li>
		</ul>
	</div>
	<div class="tongzhi">
		<ul>
			<volist name="rand_arr" id="vv">
				<li><i></i><span>{$vv.rand_mem_phone|default='180****4687'}抽中{$vv.rand_num}金币</span></li>
			</volist>
		</ul>
	</div>
	<div class="task_b">
		<if condition="$task_conf['bottom_ad_img']">
			<a href="{$task_conf['bottom_ad_url']}"><img src="{$task_conf['bottom_ad_img']}" alt=""></a>
		<else />
			<img src="__IMG__/rise/gb.png" alt="">
		</if>
	</div>
	<div class="mask"  id="mask_close">
		<div class="maskbox">
			<p class="mask_close" >
				<img src="__IMG__/rise/close.png"/>
			</p>
			<div>
				<img src="__IMG__/rise/coin2.png"/>
			</div>
			<div>恭喜抽中</div>
			<div><span class="cur_num">88</span><span class="cur_name">金币</span></div>
			<p>可在“金币明细”查看</p>
			<button class="start_luck">再抽一次</button>
		</div>
	</div>
	<div style="height: .9rem;"></div>
	<div class="footer_main">
		<ul>
			<a href="{:U('Redpack/index')}">
				<li class="footer_fl">红包</li>
			</a>
			<a href="{:U('Bonus/index')}">
				<li class="footer_f2">分红</li>
			</a>
			<a href="{:U('Invite/index')}">
				<li class="footer_f3">
					邀请
				</li>
			</a>
			<a href="{:U('Task/index')}">
				<li class="footer_f4 footer_active_f4">
					任务
				</li>
			</a>
			<a href="{:U('Member/index')}">
				<li class="footer_f5">
					我的
				</li>
			</a>
		</ul>
	</div>
	<script type="text/javascript">

		$("#mask_close .mask_close img").click(function(){
			$("#mask_close").hide();
			location.reload();
		});
		function sign(obj){
			var daily_num = obj.data('daily_num');
            obj.find('button').attr('disabled',true);

			$.post("{:U('Task/sign')}",{daily_num:daily_num},function(data){
				if(data.status == 0){
                    obj.find('button').attr('disabled',false);
					layer.msg(data.info);
					return false;
				}else{
//					layer.msg(data.info,{icon:1});
					layer.msg(data.info);
					setTimeout("location.reload()",2000);
				}
			});
		}
        var x = parseInt($(".tongzhi p").length);
        var y = 0;


        var timer = setInterval(function() {
            var rand = parseInt(Math.random() * (x + 1) + y);
            console.log(rand);
			$(".tongzhi p").eq(rand).show().fadeIn(100);
			$(".tongzhi p").eq(rand).siblings("p").hide();

        },1500);

		$(function () {
            // 3. 监听按钮的点击
            var timer = null;
            var sub_data = null;
            var showIndex = 0,
                currentGunIndex = 0;
//            $('.start_luck').on('click',function() {


                // 3.1 清除定时器
                clearInterval(timer);
                // 3.2 控制滚动的圈数
//                var count = Math.floor(Math.random() * 8) + 8;
                var count = 20;
                var  count_num = count;
                console.log(count);
                // 3.3 指定滚动的路径
                var showIndexs = [0, 1, 2, 5, 8, 7, 6, 3];
                // 3.4 根据路径进行滚动
                var timer = setInterval(function() {
                    // 3.5 判断
					if(count == count_num){

					}
//                    if (count <= 3) {
//                        // 清除定时器
//                        clearInterval(timer);
//
//                        // 判断是否中奖
//                        $('.task_item ul li').removeClass('current');
//                        console.log(sub_data);
//
//                        return;
//                    }
                    // 3.6 条件处理
                    count--;

                    // 滚动循环 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, ...
                    currentGunIndex = (currentGunIndex + 1) % showIndexs.length;

                    // 根据滚动的下标 找到 当前盒子的下标
                    showIndex = showIndexs[currentGunIndex];
                    console.log(showIndex);
                    // 3.7 让当前的盒子被选中
                    $('.task_item ul li').eq(showIndex).addClass('current').siblings().removeClass('current');

                    // 3.8 控制启动按钮的旋转
//                $('#begin').css({
//                    transform: 'rotate(' + (currentGunIndex - 1) * 45 + 'deg)'
//                })
                }, 150);
            });
//        });
        $('.start_luck').on('click',function() {
            var obj = $(this);
            var is_click = obj.attr('is_click');
            console.log(is_click);
            obj.attr('is_click',"1");
            if(is_click == "1"){
                return false;
            }
            $("#mask_close").hide();
			$.post("{:U('Task/luckdraw')}",{},function(data){
				console.log(data);
				var sub_data = data;
                obj.attr('is_click',"0");
                if(sub_data.status == 1){
                    var arr = sub_data.data;
                    var cur_num = parseInt(arr.cur_num);
                    $(".maskbox").find('.cur_num').text(cur_num);
                    $(".maskbox").find('.cur_name').text(arr.cur_name);
                    $("#mask_close").show();
                    $(".jb_n").text(arr.jb_n);
                    $(".jtb_n").text(arr.jtb_n)
                }else{
                    layer.msg(sub_data.info);
                    return false;
                }
			});
        });
		/*滚动*/
        scroll();
        var $wrapper = $(".tongzhi"),
            $ul = $wrapper.find('ul'),
            $li = $wrapper.find('li');
        var srollDistance = $li.height() * $li.length
        var cloneFirst = $ul.children(':nth-child(1)').clone();
        $ul.append(cloneFirst)
        function scroll() {
            var timer = setInterval(function() {
                var scrollDis = +$ul[0].offsetTop - $li.height()
                $ul.animate({
                    top: scrollDis + 'px'
                }, function() {
                    if (Math.abs(scrollDis) >= srollDistance) {
                        $ul.css('top', '0px')
                    }
                })
            }, 2000)
        }



	</script>

	<include file="Public:footer"/>
