<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/task.css" />
	<body>
	<header>
		<div class="header_bt">
			<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
			<div class="header_c">我的奖品</div>
		</div>
		<div style="height: .74rem;clear: both;"></div>
	</header>
	<div class="wd_line"></div>
	<div class="wdjp">
		<if condition="$list">
			<ul>
				<volist name="list" id="vo">
					<li>
						<p>{$vo.num}{$vo.currency_name}</p>
						<p>{$vo.add_time|date="Y年m月d日 H:i:s",###}</p>
					</li>
				</volist>
			</ul>
		<else />
			<div class="no_ex_pub_data">
				<img src="__IMG__/rise/no_data.png" alt="">
				<p class="text">暂时没有数据</p>
			</div>
		</if>
	</div>

	<div style="height: .9rem;"></div>
	<div class="footer_main">
		<ul>
			<a href="{:U('Redpack/index')}">
				<li class="footer_fl">红包</li>
			</a>
			<a href="{:U('Bonus/index')}">
				<li class="footer_f2">分红</li>
			</a>
			<a href="{:U('Invite/index')}">
				<li class="footer_f3">
					邀请
				</li>
			</a>
			<a href="{:U('Task/index')}">
				<li class="footer_f4 footer_active_f4">
					任务
				</li>
			</a>
			<a href="{:U('Member/index')}">
				<li class="footer_f5">
					我的
				</li>
			</a>
		</ul>
	</div>

	<include file="Public:footer"/>
