<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/task.css" />
	<body class="vip_level">
	<header>
		<div class="header_bt">
			<div class="header_f"><a href="{:U('Member/index')}" class="header_fh"></a></div>
			<div class="header_c">VIP等级</div>
			<div class="header_r"><a href="{:U('Vip/vip_record')}" class="">VIP记录</a></div>
		</div>
		<div style="height: .74rem;clear: both;"></div>
	</header>
	<div class="vip_h">
		<input type="hidden" name="vip_level" value="{$mem_info.vip_level}">
		<if condition="$mem_info['head_url']">
			<img src="{$mem_info['head_url']}" class="vtx" alt="">
		<else />
			<img src="__IMG__/rise/vtx1.png" class="vtx" alt="">
		</if>
		<p class="cur_vip">VIP{$mem_info['vip_level']}</p>
		<p>
			<i><img  style="margin-top: .45rem;" src="__IMG__/rise/vip1.png" alt=""></i><em></em><span><img style="margin-top: .15rem;" src="__IMG__/rise/vip2.png" alt=""></span>
		</p>
		<p class="vip_sm">Vip说明</p>
	</div>
	<div class="vip_m">
		<p><i></i><span>等级成长体系</span></p>
		<p class="btn">
			<span onclick="close_vip({$mem_info.vip_level})">关闭VIP</span>
			<if condition="$mem_info['vip_level'] gt 1">
				<span onclick="buy_vip({$mem_info.vip_level})">购买VIP</span>
			<else />
				<a href="{:U('Vip/buy_vip')}"><span>购买VIP</span></a>
			</if>
		</p>
		<em></em>
	</div>
	<div class="czd_img">
		<img src="__IMG__/rise/grew_img.png" alt="">
	</div>
	<div class="wd_line"></div>
	<div class="vip_m vip_tq">
		<p><i></i><span>等级成长特权</span></p>
	</div>
	<div class="wd_line"></div>
	<div class="czd_img tq_img">
		<img src="__IMG__/rise/mm.png" alt="">
	</div>
	<div class="vip_m vip_gz">
		<p><i></i><span>等级成长规则</span></p>
	</div>
	<div class="vip_gz_con">
		<p>1 . 风车等级成长值随所获积分值同步成长，即每获得-积分的同时获得一点成长值(2017-01-01起计)；</p>
		<p>2 . 不同等级用户享受不同程度的特权，如上表所示; </p>
		<p>3 . 积分使用将不会导致成长值减少; </p>
		<p>4 . 通过非正当手段获取的积分和成长值经查证后将被回收; </p>
		<p>5 . 更多疑问请<i>咨询风车客服</i>;</p>
		<p>6 . 本等级体系最终解释权归风车官方所有。</p>
	</div>
	<div class="zhezhao_h"></div>
	<div class="close_vip1_item flexbox spacebetween">
		<div><img src="__IMG__/rise/alarm.png" alt=""></div>
		<div class="flexbox">
			<p class="title">你确认关闭<em>VIP{$mem_info.vip_level}</em>吗？</p>
			<p>这<em>是不可逆</em>的行为,关闭后你将变成最初VIP1并且获得{$vip_level.close_vip_reward_num}{$vip_level.close_vip_reward_cur_name}补偿</p>
			<p class="btn">
				<span class="confirm" onclick="confirm()">确定</span>
				<span class="cancel">取消</span>
			</p>
		</div>
	</div>

	<div style="height: .9rem;"></div>
	<div class="footer_main">
		<ul>
			<a href="{:U('Redpack/index')}">
				<li class="footer_fl">红包</li>
			</a>
			<a href="{:U('Bonus/index')}">
				<li class="footer_f2">分红</li>
			</a>
			<a href="{:U('Invite/index')}">
				<li class="footer_f3">
					邀请
				</li>
			</a>
			<a href="{:U('Task/index')}">
				<li class="footer_f4">
					任务
				</li>
			</a>
			<a href="{:U('Member/index')}">
				<li class="footer_f5 footer_active_f5">
					我的
				</li>
			</a>
		</ul>
	</div>
	<script type="text/javascript">
		$(".close_vip1_item .cancel").click(function () {
			$(".close_vip1_item").hide();
			$(".zhezhao_h").attr('class','zhezhao_h');
        });
		function buy_vip(vip_level) {
            layer.msg("已是VIP"+vip_level+",请关闭VIP再购买");
            return false;
        }

        function close_vip(vip_level){
		    if(vip_level == 1){
                layer.msg("已是VIP1等级");
                return false;
			}
			$(".zhezhao_h").attr('class','zhezhao_h zhezhao');
			$(".close_vip1_item").show();
        }

        function confirm(){
            $.post("{:U('Vip/close_vip')}",{
            },function(data){
                if(data.status==1){
//                    layer.msg(data.info,{icon:1});
                    layer.msg(data.info);
                    window.setTimeout(function(){
                        window.location="{:U('Vip/index')}";
                    },1000);
                }else{
                    layer.msg(data.info);
                    return false;
                }
            })
        };
	</script>

	<include file="Public:footer"/>
