<include file="Public:header"/>
<link type="text/css" rel="stylesheet" href="__CSS__/project/task.css" />
	<body>
	<header>
		<div class="header_bt">
			<div class="header_f"><a href="javascript:history.back()" class="header_fh"></a></div>
			<div class="header_c">vip记录</div>
		</div>
		<div style="height: .74rem;clear: both;"></div>
	</header>
	<div class="wd_line"></div>
	<div class="wdjp vip_record">
		<ul>
			<li>
				<p><span>关闭VIP2</span><span class="red">+1LTC</span></p>
				<p>2019/08/09</p>
			</li>
			<li>
				<p><span>关闭VIP2</span><span class="red">+1LTC</span></p>
				<p>2019/08/09</p>
			</li>
			<li>
				<p><span>开通VIP2</span><span class="">+1LTC</span></p>
				<p>2019/08/09</p>
			</li>
		</ul>
	</div>

	<div style="height: .9rem;"></div>
	<div class="footer_main">
		<ul>
			<a href="{:U('Redpack/index')}">
				<li class="footer_fl">红包</li>
			</a>
			<a href="{:U('Bonus/index')}">
				<li class="footer_f2">分红</li>
			</a>
			<a href="{:U('Invite/index')}">
				<li class="footer_f3">
					邀请
				</li>
			</a>
			<a href="{:U('Task/index')}">
				<li class="footer_f4 footer_active_f4">
					任务
				</li>
			</a>
			<a href="{:U('Member/index')}">
				<li class="footer_f5">
					我的
				</li>
			</a>
		</ul>
	</div>
	<script type="text/javascript">

	</script>

	<include file="Public:footer"/>
